.about-hero-container {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.about-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url("https://cdn.shopify.com/s/files/1/0266/3704/1767/articles/IMGL4757.jpg?v=1582195625&width=3000");
}

.about-hero-content h1 {
  font-family: var(--font-heading-bold);
  margin-top: 2rem;
  font-size: 2rem;
  color: #fff;
}

.about-hero-content p {
  font-family: var(--font-heading);
  color: #fff;
  max-width: 500px;
  text-align: start;
}

.about-hero-content strong {
  font-family: var(--font-heading-bold);
}

.about-info-container {
  padding: 2rem;
  min-height: 700px;
}

.about-container {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab-panel {
  display: none;
}

.tab-panel-active {
  display: flex;
  padding: 2rem;
}

.about-tab-0 {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--font-heading);
  cursor: pointer;
}

.about-tab-1 {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--font-heading);
  cursor: pointer;
}
.about-tab-2 {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--font-heading);
  cursor: pointer;
}

.about-tab-3 {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-grow: 1;
  font-size: 1rem;
  font-family: var(--font-heading);
  cursor: pointer;
}

.tab {
  background-color: var(--color-background-secondary);
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--font-heading);
  cursor: pointer;
}

.tab:hover {
  background-color: rgb(214, 214, 214);
}

.tabactive {
  border-bottom: none;
  color: white;
  background-color: var(--color-background-dark);
}

.tabactive span {
  color: white;
}

.about-card-container {
  gap: 1rem;
}

.tab-number {
  padding-top: 0.3rem;
  font-size: 1rem;
}

.card {
  border-radius: 0px;
  padding: 1rem;
  width: fit-content;
  border: none;
}

.about-project-container {
  display: flex;
  flex-direction: column;
}

.about-project-paragraph-title {
  font-family: var(--font-heading);
  margin-bottom: 0px;
}

.about-project-paragraph {
  font-family: var(--font-heading-light);
  font-size: 1.3rem;
  max-width: 900px;
}

.admin-link {
  font-family: var(--font-heading);
  color: black;
}

.about-project-icons {
  width: 3rem;
}

.about-tareas-paragraph-container {
  display: flex;
  justify-content: space-between;
}

.card-body {
  padding: 0;
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  padding-bottom: 1rem;
}

.about-tab-panel-img {
  object-fit: contain;
  height: 500px;
  margin-left: 3rem;
  border-radius: 5px;
}

.about-tab-panel-logos {
  object-fit: contain;
  height: 300px;
  margin-left: 3rem;
  border-radius: 5px;
}

.accordion-button:not(.collapsed) {
  background-color: var(--color-background-dark);
  color: rgb(255, 255, 255);
}

.accordion-button {
  background-color: var(--color-background-secondary);
  font-family: var(--font-heading);
  color: black;
  height: 80px;
  margin-bottom: 1rem;
}

.accordion-item {
  border: none;
}

.accordion-header {
  gap: 10px;
}

.tab-number-mobile {
  font-size: 1rem;
}

.about-container-mobile {
  width: 100%;
}

.about-card-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-project-paragraph-mobile {
  font-family: var(--font-heading-light);
}

.card-mobile {
  border: none;
  padding: 1rem;
  width: 300px;
}

.card-mobile img {
  width: 100%;
  padding-bottom: 1rem;
}

.technologies-icons {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0px 20px;
  margin-top: 2rem;
}

.technology-applied {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.technology-applied img {
  height: 100px;
  margin-bottom: 0.5rem;
}

.technology-applied p {
  font-family: var(--font-heading);
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .about-project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-tab-panel-img {
    object-fit: contain;
    height: 500px;
    margin-left: 0px;
    border-radius: 5px;
  }
}

@media (min-width: 992px) {
  .about-info-container-mobile {
    display: none;
  }
  .about-info-container {
    display: block;
  }
  .about-hero-content {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    text-align: start;
  }
}

@media (max-width: 991px) {
  .about-info-container-mobile {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
  }
  .about-info-container {
    display: none;
  }
  .card-mobile {
    border: none;
  }

  .about-hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .technology-applied img {
    height: 70px;
  }
}

@media (max-width: 576px) {
  .about-hero-content h1 {
    font-family: var(--font-heading-bold);
    margin-top: 2rem;
    font-size: 2rem;
    color: #fff;
  }

  .about-hero-content p {
    font-family: var(--font-heading-light);
    font-size: 1rem;
    color: #fff;
    width: 80vw;
    text-align: start;
  }

  .card-mobile {
    width: 60vw;
    border: none;
    padding: 0px;
    margin: 1rem 0;
  }

  .technologies-icons {
    justify-content: center;
    margin-top: 0px;
  }
}
