.hero-container {
  /* background-color: rgba(0, 0, 0, 0); */
  position: relative;
  width: 100vw;
  height: 500px;
  overflow: hidden;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(3px);
  background-position: center;
  background-image: url("/public/img/home/header_home.webp");
}

.background-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 991px) {
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

@media (min-width: 992px) {
  .hero-content {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    text-align: start;
  }
}
.hero-content h1 {
  font-family: var(--font-heading-bold);
  color: #fff;
}

.hero-content p {
  font-family: var(--font-body);
  font-weight: 300;
  color: #fff;
}

.hero-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-secondary);
  padding: 0px 50px;
}

.hero-stats div {
  font-family: var(--font-heading);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 27px;
}

.hero-stats p {
  margin: 20px 0px;
}

.featured-products-heading {
  font-family: var(--font-heading);
}

#style-list td {
  font-family: var(--font-heading-light);
  padding: 10px 0px;
  color: black;
}

#style-list:hover {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: 8px;
}

#style-list-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
