.home-section {
  overflow: hidden;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("/public/img/home/header_home.webp");
}

.background-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-container {
  width: 100%;
  overflow-x: hidden;
}

.hero-content h1 {
  font-family: var(--font-heading-bold);
  color: #fff;
  margin-bottom: 0;
}

.hero-content p {
  font-family: var(--font-heading-light);
  color: #fff;
  font-size: 1rem;
}

.hero-content h4 {
  font-family: var(--font-heading);
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #fff;
  font-size: 2rem;
}

.hero-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-secondary);
  padding: 0px 50px;
}

.hero-stats div {
  font-family: var(--font-heading);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 27px;
}

.hero-stats p {
  margin: 20px 0px;
}

.featured-products-heading {
  font-family: var(--font-heading);
}

.shop-now-home {
  font-family: var(--font-heading);
  text-decoration: underline;
  text-underline-offset: 4px;
  color: white;
}

#style-list-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-family: var(--font-heading-light);
  padding: 10px 0px;
  color: black;
}

#style-list-link:hover {
  font-family: var(--font-heading);
}

.hover-underline-subheading {
  display: inline-block;
  position: relative;
  color: #000000;
}

.hover-underline-subheading::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 2px;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-subheading:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-text-box {
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-subtitles {
  font-family: var(--font-heading-bold);
  font-size: 2.5rem;
  padding-bottom: 20px;
  text-align: left;
}

.home-text {
  font-family: var(--font-heading-light);
  opacity: 0.9;
  line-height: 1.6;
  font-size: 1rem;
  letter-spacing: 3px;
}

.home-images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.home-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-style-list {
  font-size: 1.5rem;
  width: 100%;
}

@media (max-width: 991px) {
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

@media (min-width: 992px) {
  .hero-content {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    text-align: start;
  }
}

@media (max-width: 767px) {
  .home-text-box {
    padding: 100px 50px;
  }
}

@media (max-width: 576px) {
  .home-text-box {
    padding: 50px 50px;
  }
}
