#login-image {
  height: 650px;
  width: 100%;
  object-fit: cover;
}

#login-form {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

#login-heading {
  font-family: var(--font-heading);
  font-size: calc(0.9 * 6vw);
}

.input {
  display: flex;
  flex-direction: column;
}

.login-input {
  border: 1px solid black;
  height: 3rem;
  padding-left: 1rem;
  font-family: var(--font-heading);
}

#login-button {
  background-color: black;
  color: white;
  font-family: var(--font-heading);
  border: 1px solid black;
  height: 3rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

#login-link {
  display: flex;
  justify-content: start;
  margin-top: 1rem;
  text-decoration: none;
  color: black;
}

#login-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media (max-width: 992px) {
  #login-image {
    height: 500px;
  }

  #login-heading {
    font-size: calc(0.9 * 8vw);
  }
}

.login-alert {
  font-family: var(--font-heading-light);
  border-radius: 5px;
  background-color: rgb(255, 0, 0, 0.1);
  padding-left: 5px;
  padding-right: 5px;
}

.login-span {
  color: blue;
}

.login-span:hover {
  text-decoration: underline;
}