.add-to-cart {
  width: 100%;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  font-family: var(--font-heading);
  border-radius: 0 !important;
  color: transparent;
  border: none;
  text-decoration: none;
  transition: all 0.2s ease-in;
  opacity: 0.1;
  border: 1px solid white;
}

.product-container:hover .add-to-cart {
  background-color: white;
  border: 1px solid black;
  color: black;
  display: block;
  opacity: 1;
}

.custom-offcanvas {
  overflow-y: auto;
  /* Habilita el scroll vertical */
  max-width: 800px;
  /* Personaliza el ancho deseado */
}

.custom-offcanvas {
  width: 100vw !important;
}

.title-cart {
  font-family: var(--font-heading-light);
  font-size: 1.8rem;
  opacity: 0.8;
}

.subtitle-cart {
  font-family: var(--font-heading-light);
  font-size: 0.9rem;
  opacity: 0.8;
}

@media (max-width: 991px) {
  .add-to-cart {
    background-color: white;
    border: 1px solid black;
    color: black;
    display: block;
    opacity: 1;
    padding: 0 5px 0 5px;
  }
}

@media (max-width: 576px) {
  .add-to-cart {
    font-size: 0.9rem;
  }
}

.minimize-button {
  font-size: 1.5rem;
  color: #000000;
}

.minimize-button:hover {
  color: #605d5d;
}

.scroll {
  overflow-y: auto;
}

.cart-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 24px;
  text-align: center;
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 25px;
  color: #555;
}
