.open-about-button {
  background-color: transparent;
  backdrop-filter: blur(20px) brightness(70%);
  position: fixed;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  border-color: white;
  border-right: none;
  text-orientation: mixed;
  -webkit-text-orientaion: mixed;
  height: 200px;
  width: 50px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-weight: bold;
  border-radius: 0px;
  z-index: 1000;
}

.open-about-button:hover {
  background-color: white;
  color: black;
  border-right: none;
  border-color: black;
}

.btnOffCanvas {
  background-color: black;
  color: white;
  border-color: white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 0px;
  z-index: 1000;
}

.btnOffCanvas:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  border-color: black;
}

.offcanvasContainer {
  background-color: white;
  opacity: 0.9;
  color: white;
  border-color: white;
  vertical-align: 50%;
}

.offcanvas-title {
  color: black;
  font-family: var(--font-heading-bold);
}
h6 {
  padding: 15px;
}

.offcanvas-body-credentials {
  padding: 1rem;
}
.button-about-container {
  font-family: var(--font-heading);
}

@media (max-width: 576px) {
  .open-about-button {
    height: 100px;
    width: 25px;
    font-size: 1rem;
    padding-right: 2rem;
    padding-left: 0.5rem;
  }
}
