.btnOffCanvas {
  background-color: black;
  color: white;
  border-color: white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-weight: bold;
  border-radius: 0px;
}
.btnOffCanvas:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.offcanvasContainer {
  background-color: white;
  opacity: 0.9;
  color: white;
  border-color: white;
  vertical-align: 50%;
}

.offcanvas-title {
  color: black;
}
h6 {
  padding: 15px;
}
.button-about-container {
  font-family: var(--font-heading);
}
