.check-out {
  width: 100%;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  font-family: var(--font-heading);
  border-radius: 0 !important;
  color: white;
  background-color: black;
  border: none;
  text-decoration: none;
}

.cart {
  width: 500px;
}
