.check-out {
  width: 100%;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  font-family: var(--font-heading);
  border-radius: 0 !important;
  color: white;
  background-color: var(--color-background-dark);
  border: none;
  text-decoration: none;
}

.cart {
  width: 100%;
}

.title-product {
  font-family: var(--font-heading-light);
  font-size: 1.2rem;
}

.price-cart {
  font-family: var(--font-heading-light);
  font-size: 1rem;
  opacity: 0.8;
  margin-right: 8px;
}

.price-cart p {
  font-family: var(--font-heading-light);
  font-size: 0.9rem;
  opacity: 0.8;
}

.checkout-info {
  position: absolute;
  background-color: white;
  width: 100%;
  bottom: 0;
  padding-bottom: 2rem;
  margin-right: 2rem;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.continue-shopping {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: var(--color-background-dark);
  font-family: var(--font-heading-light);
  padding: 1rem 1.5rem;
  margin-top: 2rem;
}

.continue-shopping h3 {
  font-size: 1rem;
}

.continue-shopping:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(46, 46, 46);
}
