.bold-font {
    font-family: var(--font-heading-bold)
}

.font {
    font-family: var(--font-heading)
}

.light-font {
    font-family: var(--font-heading-light)
}

.card-container {
    border: none;
    width: 100%;
}

.btn-card {
    border-radius: 0;
}

.product-card {
    border: 0;
    border-bottom: 1px solid rgb(169, 169, 169, 0.5);
    border-radius: 0;
}