.productName {
  font-family: var(--font-heading-light);
}

.productPrice {
  font-family: var(--font-body-family);
}

.addToCart {
  width: 100%;
  border-radius: 0 !important;
  border: 2px solid black;
  display: none;
}

.addToCart:hover {
  background-color: white;
  color: black;
  display: inline;
}
