.product-container {
  margin: 2rem;
}

.product-imgContainer {
  position: relative;
  display: inline-block;
}

.product-imgContainer .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.product-imgContainer:hover .img-top {
  display: inline-block;
}
.product-link {
  position: relative;
  justify-content: center;
  align-items: center;
}

.product-img {
  width: 80%;
  object-fit: cover;
  transition: all 0.12s ease-in;
}

.product-name {
  font-family: var(--font-heading);
  font-size: 0.9rem;
  margin-top: 1rem;
}

#product-price {
  font-family: var(--font-heading-light);
  font-size: 1rem;
  opacity: 0.7;
}

.product-container:hover .product-name {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.product-container:hover img {
  transform: scale(1.02);
}

.product-sold-out {
  position: absolute;
  font-family: var(--font-heading-light);
  bottom: 90%;
  left: 5%;
  color: white;
  background-color: var(--color-background-dark);
  padding: 3px 10px 3px 10px;
  border-radius: 10px;
}

.product-first-container {
  width: 300px;
}

@media (max-width: 576px) {
  .product-first-container {
    width: 200px;
  }
}
