.productContainer {
  margin: 2rem;
}

.productName {
  font-family: var(--font-body-family);
  margin-top: 1rem;
}

.productPrice {
  font-family: var(--font-heading-light);
  font-size: 1.2rem;
}

.productContainer:hover .productName {
  text-decoration: underline;
}

.productContainer:hover img {
  transform: scale(1.02);
}

.a {
  font-family: var(--font-body-family);
}
.b {
  font-family: var(--font-heading);
}
.c {
  font-family: var(--font-heading-bold);
}
.d {
  font-family: var(--font-heading-light);
}
