* {
  box-sizing: border-box;
}

@font-face {
  font-family: "HelveticaEx";
  src: url("./fonts/HelveticaNeueLTProEx.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaExLt";
  src: url("./fonts/HelveticaNeueLTProLtEx.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaExBd";
  src: url("./fonts/HelveticaNeueLTProMdEx.otf") format("opentype");
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --font-body-family: Helvetica;
  --font-heading: HelveticaEx;
  --font-heading-light: HelveticaExLt;
  --font-heading-bold: HelveticaExBd;
  --color-background-primary: #ffffff;
  --color-background-secondary: #f3f3f3;
  --color-background-dark: #121212;
}
